<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.CourseTablesMapper" >
  <resultMap id="classroomMap" type="ClassRoom" >
    <id property="classroomId" column="class_room_id"></id>
    <result property="classroomName" column="classroom_name"></result>
    <result property="classroomUse" column="classroom_use"></result>
    <result property="maxNum" column="max_num"></result>
    <result property="stateId" column="state_id"></result>
  </resultMap>
  <resultMap id="gradeMap" type="Grade">
    <id property="gradeId" column="grade_id"></id>
    <result property="gradeCourse" column="grade_course"></result>
    <result property="gradeName" column="grade_name"></result>
    <result property="gradeNum" column="grade_num"></result>
    <result property="gradeSize" column="grade_size"></result>
    <result property="gradeState" column="grade_state"></result>
    <result property="startTime" column="start_time"></result>
    <result property="stateId" column="state_id"></result>
  </resultMap>
  <resultMap id="dateTimeMap" type="DateTime">
    <id property="dateTimeId" column="date_time_id"></id>
    <result property="dateTime" column="date_time"></result>
  </resultMap>
  <resultMap id="dayTimeMap" type="DayTime">
    <id property="dayTimeId" column="day_time_id"></id>
    <result property="timeRange" column="time_range"></result>
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.CourseTables" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  
    <!--  private int courseTablesId;//排课Id
    private int timeRange;//时间范围
    private int dateTimeId;//日期
    private String gradeName;//班级名称
    private int gradeNum;//班级人数
    private String gradeCourse;//班级专业
    private Date starTime;//开班时间
    private String gradeState;//班级状态
    private String SteacherName; //老师名字
    private String teacherMajor ;//所教专业
    private String clsssroomName;//班级名称
    private int classroomUse;//教室用途int-->
    <id column="course_tables_id" property="courseTablesId" jdbcType="INTEGER" />
    <association property="classroomId" resultMap="classroomMap"></association>
    <association property="gradeId" resultMap="gradeMap"></association>
    <association property="dateTimeId" resultMap="dateTimeMap"></association>
    <association property="dayTimeId" resultMap="dayTimeMap"></association>
  </resultMap>
  <resultMap id="aa" type="cn.beijing.ssfh.pojo.CourseTableVO">
    <id property="courseTablesId" column="course_table_id"></id>
    <result property="classroomUse" column="classroom_use"></result>
    <result property="clsssroomName" column="classroom_name"></result>
    <result property="dateTimeId" column="date_time_id"></result>
    <result property="gradeCourse" column="grade_course"></result>
    <result property=""
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    course_table_id,time_range,date_time_id,grade_name,grade_num,grade_course,start_time,grade_state,teacher_name,teacher_major,classroom_name,classroom_use
  </sql>
  <select id="selectByPrimaryKey" resultType="CourseTa" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->

    select 
    <include refid="Base_Column_List" />
    from course_tables,day_time,date_time,grade,class_room,grade_teacher,teacher
    where course_tables.grade_id = grade.grade_id and course_tables.classroom_id = class_room.classroom_id
    AND course_tables.date_time_id = date_time.date_time_id
    AND course_tables.day_time_id = day_time.day_time_id
    AND grade.grade_id = grade_teacher.grade_id
    AND teacher.teacher_id = grade_teacher.teacher_id
    course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into course_tables (course_tables_id, day_time_id, classroom_id, 
      grade_id, date_time_id)
    values (#{courseTablesId,jdbcType=INTEGER}, #{dayTimeId,jdbcType=INTEGER}, #{classroomId,jdbcType=INTEGER},
      #{gradeId,jdbcType=INTEGER}, #{dateTimeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into course_tables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        course_tables_id,
      </if>
      <if test="dayTimeId != null" >
        day_time_id,
      </if>
      <if test="classroomId != null" >
        classroom_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="dateTimeId != null" >
        date_time_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        #{courseTablesId,jdbcType=INTEGER},
      </if>
      <if test="dayTimeId != null" >
        #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        #{dateTimeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update course_tables
    <set >
      <if test="dayTimeId != null" >
        day_time_id = #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        classroom_id = #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        date_time_id = #{dateTimeId,jdbcType=INTEGER},
      </if>
    </set>
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update course_tables
    set day_time_id = #{dayTimeId,jdbcType=INTEGER},
      classroom_id = #{classroomId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      date_time_id = #{dateTimeId,jdbcType=INTEGER}
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
</mapper>