<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.ChapterMapper" >
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.Chapter" >
    <id column="chapter_id" property="chapterId" jdbcType="INTEGER" />
    <result column="study_parts_id" property="studyPartsId" jdbcType="INTEGER" />
    <result column="chapter_name" property="chapterName" jdbcType="VARCHAR" />
    <result column="chapter_duration" property="chapterDuration" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    chapter_id, study_parts_id, chapter_name, chapter_duration
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from chapter
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chapter
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.Chapter" >
    insert into chapter (chapter_id, study_parts_id, chapter_name, 
      chapter_duration)
    values (#{chapterId,jdbcType=INTEGER}, #{studyPartsId,jdbcType=INTEGER}, #{chapterName,jdbcType=VARCHAR}, 
      #{chapterDuration,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.Chapter" >
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterId != null" >
        chapter_id,
      </if>
      <if test="studyPartsId != null" >
        study_parts_id,
      </if>
      <if test="chapterName != null" >
        chapter_name,
      </if>
      <if test="chapterDuration != null" >
        chapter_duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="studyPartsId != null" >
        #{studyPartsId,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterDuration != null" >
        #{chapterDuration,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.Chapter" >
    update chapter
    <set >
      <if test="studyPartsId != null" >
        study_parts_id = #{studyPartsId,jdbcType=INTEGER},
      </if>
      <if test="chapterName != null" >
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterDuration != null" >
        chapter_duration = #{chapterDuration,jdbcType=INTEGER},
      </if>
    </set>
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.Chapter" >
    update chapter
    set study_parts_id = #{studyPartsId,jdbcType=INTEGER},
      chapter_name = #{chapterName,jdbcType=VARCHAR},
      chapter_duration = #{chapterDuration,jdbcType=INTEGER}
    where chapter_id = #{chapterId,jdbcType=INTEGER}
  </update>
</mapper>