<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.CourseTablesMapper" >
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.CourseTables" >
    <id column="course_tables_id" property="courseTablesId" jdbcType="INTEGER" />
    <result column="day_time_id" property="dayTimeId" jdbcType="INTEGER" />
    <result column="classroom_id" property="classroomId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="date_time_id" property="dateTimeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_tables_id, day_time_id, classroom_id, grade_id, date_time_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    insert into course_tables (course_tables_id, day_time_id, classroom_id, 
      grade_id, date_time_id)
    values (#{courseTablesId,jdbcType=INTEGER}, #{dayTimeId,jdbcType=INTEGER}, #{classroomId,jdbcType=INTEGER}, 
      #{gradeId,jdbcType=INTEGER}, #{dateTimeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    insert into course_tables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        course_tables_id,
      </if>
      <if test="dayTimeId != null" >
        day_time_id,
      </if>
      <if test="classroomId != null" >
        classroom_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="dateTimeId != null" >
        date_time_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        #{courseTablesId,jdbcType=INTEGER},
      </if>
      <if test="dayTimeId != null" >
        #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        #{dateTimeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    update course_tables
    <set >
      <if test="dayTimeId != null" >
        day_time_id = #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        classroom_id = #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        date_time_id = #{dateTimeId,jdbcType=INTEGER},
      </if>
    </set>
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    update course_tables
    set day_time_id = #{dayTimeId,jdbcType=INTEGER},
      classroom_id = #{classroomId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      date_time_id = #{dateTimeId,jdbcType=INTEGER}
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
</mapper>