<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.CourseTablesMapper" >
  <resultMap id="CourseTablesVOMap" type="cn.beijing.ssfh.pojo.vo.CourseTableVO">
    <result property="courseTablesId" column="course_tables_id"></result>
    <result property="clsssroomName" column="classroom_name"></result>
    <result property="classroomUse" column="classroom_use"></result>
    <result property="dateTimeId" column="date_time_id"></result>
    <result property="gradeCourse" column="grade_course"></result>
    <result property="gradeName" column="grade_name"></result>
    <result property="gradeNum" column="grade_num"></result>
    <result property="startTime" column="start_time" ></result>
    <result property="SteacherName" column="teacher_name"></result>
    <result property="teacherMajor" column="teacher_major"></result>
    <result property="timeRange" column="time_range"></result>
    <result property="dayTimeid" column="day_time_id"></result>
    <result property="weekName" column="week_name"></result>
  </resultMap>
  <sql id="Base_Column_List" >
   week.week_name,day_time.day_time_id,time_range,course_tables_id,time_range,date_time.date_time_id,grade_name,grade_num,grade_course,start_time,teacher_name,teacher_major,classroom_name,classroom_use
  </sql>
  <select id="selectByPrimaryKey" resultMap="CourseTablesVOMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List"></include>
    from course_tables,day_time,date_time,grade,class_room,grade_teacher,teacher,week,grade_sircle
    where course_tables.grade_id = grade.grade_id
    and course_tables.classroom_id = class_room.classroom_id
    AND course_tables.date_time_id = date_time.date_time_id
    AND course_tables.day_time_id = day_time.day_time_id
    AND grade.grade_id = grade_teacher.grade_id
    AND teacher.teacher_id = grade_teacher.teacher_id

    AND grade.grade_id = grade_sircle.grade_id
    AND week.week_id = grade_sircle.week_id

    AND course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </select>
  <select id="selectCourse" resultMap="CourseTablesVOMap"  >
    select
    <include refid="Base_Column_List"></include>
    from course_tables,day_time,date_time,grade,class_room,grade_teacher,teacher,week,grade_sircle
    where course_tables.grade_id = grade.grade_id
    and course_tables.classroom_id = class_room.classroom_id
    AND course_tables.date_time_id = date_time.date_time_id
    AND course_tables.day_time_id = day_time.day_time_id
    AND grade.grade_id = grade_teacher.grade_id
    AND teacher.teacher_id = grade_teacher.teacher_id
    AND grade.grade_id = grade_sircle.grade_id
    AND week.week_id = grade_sircle.week_id

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_tables
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    insert into course_tables (course_tables_id, day_time_id, classroom_id, 
      grade_id, date_time_id)
    values (#{courseTablesId,jdbcType=INTEGER}, #{dayTimeId,jdbcType=INTEGER}, #{classroomId,jdbcType=INTEGER}, 
      #{gradeId,jdbcType=INTEGER}, #{dateTimeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    insert into course_tables
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        course_tables_id,
      </if>
      <if test="dayTimeId != null" >
        day_time_id,
      </if>
      <if test="classroomId != null" >
        classroom_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="dateTimeId != null" >
        date_time_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseTablesId != null" >
        #{courseTablesId,jdbcType=INTEGER},
      </if>
      <if test="dayTimeId != null" >
        #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        #{dateTimeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    update course_tables
    <set >
      <if test="dayTimeId != null" >
        day_time_id = #{dayTimeId,jdbcType=INTEGER},
      </if>
      <if test="classroomId != null" >
        classroom_id = #{classroomId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="dateTimeId != null" >
        date_time_id = #{dateTimeId,jdbcType=INTEGER},
      </if>
    </set>
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.CourseTables" >
    update course_tables
    set day_time_id = #{dayTimeId,jdbcType=INTEGER},
      classroom_id = #{classroomId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      date_time_id = #{dateTimeId,jdbcType=INTEGER}
    where course_tables_id = #{courseTablesId,jdbcType=INTEGER}
  </update>
</mapper>