<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.DateTimeMapper" >
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.DateTime" >
    <id column="date_time_id" property="dateTimeId" jdbcType="INTEGER" />
    <result column="date_time" property="dateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    date_time_id, date_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from date_time
    where date_time_id = #{dateTimeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from date_time
    where date_time_id = #{dateTimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.DateTime" >
    insert into date_time (date_time_id, date_time)
    values (#{dateTimeId,jdbcType=INTEGER}, #{dateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.DateTime" >
    insert into date_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dateTimeId != null" >
        date_time_id,
      </if>
      <if test="dateTime != null" >
        date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dateTimeId != null" >
        #{dateTimeId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null" >
        #{dateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.DateTime" >
    update date_time
    <set >
      <if test="dateTime != null" >
        date_time = #{dateTime,jdbcType=DATE},
      </if>
    </set>
    where date_time_id = #{dateTimeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.DateTime" >
    update date_time
    set date_time = #{dateTime,jdbcType=DATE}
    where date_time_id = #{dateTimeId,jdbcType=INTEGER}
  </update>
</mapper>