<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.LoginMapper">
    <select id="getByUsernameAndPassword" resultType="cn.beijing.ssfh.entity.Tbuser">
      SELECT * from education_system.tbuser WHERE username=#{username} and password=#{password}
    </select>
    <select id="getRoles" resultType="java.lang.Integer">
        SELECT user_role.`role_id`FROM
        tbuser,user_role,role_permissions
        WHERE tbuser.`tbuser_id`=user_role.`tbuser_id`
        AND role_permissions.`role_id`=user_role.`role_id`
        AND username=#{username} and password=#{password}
    </select>
    <select id="getPermissions" resultType="java.lang.Integer">
      SELECT role_permissions.`permissions_id` FROM
      tbuser,user_role,role_permissions
      WHERE tbuser.`tbuser_id`=user_role.`tbuser_id`
     AND role_permissions.`role_id`=user_role.`role_id`
      AND username=#{username} and password=#{password}
    </select>
</mapper>