<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.beijing.ssfh.mapper.TestScoreMapper" >
  <resultMap id="BaseResultMap" type="cn.beijing.ssfh.entity.TestScore" >
    <id column="test_code_id" property="testCodeId" jdbcType="INTEGER" />
    <result column="test_paper_id" property="testPaperId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="test_time" property="testTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    test_code_id, test_paper_id, student_id, score, test_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test_score
    where test_code_id = #{testCodeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_score
    where test_code_id = #{testCodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.beijing.ssfh.entity.TestScore" >
    insert into test_score (test_code_id, test_paper_id, student_id, 
      score, test_time)
    values (#{testCodeId,jdbcType=INTEGER}, #{testPaperId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, 
      #{score,jdbcType=DOUBLE}, #{testTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.beijing.ssfh.entity.TestScore" >
    insert into test_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testCodeId != null" >
        test_code_id,
      </if>
      <if test="testPaperId != null" >
        test_paper_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="testTime != null" >
        test_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testCodeId != null" >
        #{testCodeId,jdbcType=INTEGER},
      </if>
      <if test="testPaperId != null" >
        #{testPaperId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.beijing.ssfh.entity.TestScore" >
    update test_score
    <set >
      <if test="testPaperId != null" >
        test_paper_id = #{testPaperId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="testTime != null" >
        test_time = #{testTime,jdbcType=DATE},
      </if>
    </set>
    where test_code_id = #{testCodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.beijing.ssfh.entity.TestScore" >
    update test_score
    set test_paper_id = #{testPaperId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      test_time = #{testTime,jdbcType=DATE}
    where test_code_id = #{testCodeId,jdbcType=INTEGER}
  </update>
</mapper>